/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3.12.2019, 14:02:16
    Author     : Lotta
*/

body{
    background-color: #eee;
}

.white-area{
    background-color: #fff;
}

.navbar-brand{
    color: #fff !important;
}

.nav-link{
    font-size: 1.2rem;
}

.header{
    color: #fff;
    background-color: #53b5b0;
}



.heading{
    color: #009999;
    font-size: 1.5rem;
}

.large-heading{
    color: #009999;
    font-size: 2rem;
}

.filtered{
    display: none !important;
}

.testi{
    color: red;
}

.lead{
    font-weight: 400 !important;
}

.black-link{
    color: #111111;
}

.black-link:hover{
    color: #666666;
    text-decoration: none !important;
}

.follow-time{
    color: #999999;
    font-size: 0.8rem;
}


.link-text{
    color: #009999;
}

.link-text:hover{
    color: #006666;
    text-decoration: none !important;
}

.btn-primary{
    background-color: #009999 !important;
    border: none !important;
}

.profile-photo{
/*    position: relative;
    z-index: 1;*/
    border-radius: 50%;
    width: 10rem; 
    height: 10rem;
    object-fit: cover;
    border: 5px solid white;
  
 
}

.message-profile-photo{
   border-radius: 50%;
   width: 3rem; 
   height: 3rem;
   object-fit: cover;
}

.follow-profile-photo{
   border-radius: 50%;
   width: 2rem; 
   height: 2rem;
   object-fit: cover;
}

.sidebar-photo{
    object-fit: cover;
    width: 60px;
    height: 60px;
}

.gallery-photo{
    width: 100%;
}

.photo-text{
    font-size: 1.2rem;
}









