/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3.12.2019, 14:02:16
    Author     : Lotta
*/

body{
    
    background-color: #eee;
}

.header{
    color: #fff;
    background-color: #53b5b0;
}

.etsi{
    background-color: #fff;
}

.heading{
    color: #009999;
}

.btn-primary{
    background-color: #009999 !important;
}

.profile-photo{
/*    position: relative;
    z-index: 1;*/
    border-radius: 50%;
    width: 10rem; 
    height: 10rem;
    object-fit: cover;
    border: 5px solid white;
    margin: auto;
 
}

.message-profile-photo{
   border-radius: 50%;
   width: 4rem; 
   height: 4rem;
   object-fit: cover;
}

.follow-profile-photo{
   border-radius: 50%;
   width: 2rem; 
   height: 2rem;
   object-fit: cover;
}

.mini-gallery{
    background-color: #fff;
}

.sidebar-photo{
    object-fit: cover;
    width: 100%; 
    height: 100%;
    
    
   
}

.following{
    background-color: #fff;
}

.followers{
    background-color: #fff;
}




