<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
        <script src="https://kit.fontawesome.com/9c3156e679.js" crossorigin="anonymous"></script>
    </head>
    <body class="container-fluid px-5 py-0">
        
        <div th:fragment="following (whoIFollowAndTime)">    
                <div class="white-area p-3 mb-3">
                    <h5 class="heading mb-3">Following</h5>
                    <div class="d-flex flex-row" th:each="followedUserAndTime : ${whoIFollowAndTime}">
                        <div class="mr-3" th:switch="${followedUserAndTime.user.profilePhoto}">
                            <img th:case="null" class="follow-profile-photo" th:src="@{/img/defaultProfilePicture.png}"/>
                            <img th:case="*" class="follow-profile-photo" th:src="@{/photos/{photoId} (photoId=${followedUserAndTime.user.profilePhoto.id})}"/>
                        </div>
                        <div class="d-flex flex-column">
                            <a class="black-link" th:href="@{/{username} (username=${followedUserAndTime.user.username})}">
                                <p class="mb-1" th:text="${followedUserAndTime.user.username}">username</p>
                            </a>
                            <p class="follow-time">since <span th:text="${#temporals.format(followedUserAndTime.startTime, 'd.M.yyyy')}">send time</span></p>
                        </div>
                    </div>
                </div> 
        </div>
        
        <div th:fragment="followers (whoFollowsMeAndTime)">
                <div class="white-area p-3 mb-3">
                    <h5 class="heading mb-3">Followers</h5>
                    <div class="d-flex flex-row" th:each="followerAndTime : ${whoFollowsMeAndTime}">                      
                        <div class="mr-3" th:switch="${followerAndTime.user.profilePhoto}">
                            <img th:case="null" class="follow-profile-photo" th:src="@{/img/defaultProfilePicture.png}"/>
                            <img th:case="*" class="follow-profile-photo" th:src="@{/photos/{photoId} (photoId=${followerAndTime.user.profilePhoto.id})}"/>
                        </div>
                        <div class="d-flex flex-column">
                            <a class="black-link" th:href="@{/{username} (username=${followerAndTime.user.username})}">
                                <p class="mb-1" th:text="${followerAndTime.user.username}">text</p>
                            </a>
                            <p class="follow-time">since <span th:text="${#temporals.format(followerAndTime.startTime, 'd.M.yyyy')}">send time</span></p>
                        </div>
                    </div>
                </div>            
        </div>
        

    </body>
</html>
