<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
    </head>
    <body>
        
        <h1>Create Account</h1>
        
        <form th:action="@{/create-account}" method="POST">
            <span>Name: </span><input type="text" name="name"/><br/>
            <span>Username: </span><input type="text" name="username"/></br> 
            <span>Password: </span><input type="password" name="password"/></br>
            <input type="submit"/>
        </form>
        
        
        
        


    </body>
</html>
