<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
    </head>
    <body class="container-fluid px-5 py-0">
        
<!--        <div th:replace="fragments/layout :: navbar(loggedInUser='${loggedInUser}')"></div>-->
        <div th:replace="fragments/layout :: navbar(loggedInUser='${loggedInUser}')"></div>
        
        <div class="header">
            <div class="row align-items-center">
<!--            <h5 th:text="'Logged in as ' + ${loggedInUser}"></h5>-->

                <!--    Show profilePhoto    -->
                <div class="col-3">
                    <div th:switch="${user.profilePhoto}">
                        <img th:case="null" th:src="@{/img/defaultProfilePicture.png}" class="profile-photo m-3"/>
                        <img th:case="*" th:src="@{/photos/{photoId} (photoId=${user.profilePhoto.id})}" class="profile-photo m-3"/>
                    </div>
                </div>

                <div class="col-9">
                    <h1 th:text="${user.username}">name</h1>
                    <!--    Follow me    -->
                
                    <div th:if="${user.username != loggedInUser.username}">
<!--                        <div th:switch="">-->
                            <form th:action="@{/{userId}/{loggedInUser}/follow-me (userId=${user.id}, loggedInUser=${loggedInUser})}" method="POST">
                                    <input type="submit" value="Follow Me!" class="btn btn-outline-dark">
                            </form>
<!--                        </div>-->
                    </div>
                
                </div>

                
            </div>
            
            <!--     Search for users   -->
            <div class="etsi p-3">
                <div class="row">
                    <div class="col-4">

                    </div>
                    <div class ="col-8">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        <section class="row py-4">
            <section class="col-sm-4">
                <div class="following p-3 mb-3">
                    <h5 class="heading">Following</h5>

                    <div th:each="username : ${whoIFollow}">
                        <p th:text="${username}">text</p>

                    </div>
                </div> 
                
                <div class="followers p-3 mb-3">
                    <h5 class="heading">Followers</h5>

<!--                    <div class="d-flex flex-row justify-content-between" th:each="whoFollowsWho : ${whoFollowsMe}">
                        <div th:switch="${whoFollowsWho.follower.profilePhoto}">
                            <img th:case="null" class="follow-profile-photo" th:src="@{/img/defaultProfilePicture.png}"/>
                            <img th:case="*" class="follow-profile-photo" th:src="@{/photos/{photoId} (photoId=${whoFollowsWho.follower.profilePhoto.id})}"/>
                        </div>

                        <p th:text="${whoFollowsWho.follower.username}">text</p>
                        <form th:action="@{/{username}/{whoFollowsWhoId}/remove-follower (username=${user.username}, whoFollowsWhoId=${whoFollowsWho.id})}" method="POST">
                            <input class="btn btn-primary btn-sm" type="submit" value="Remove">
                        </form>
                    </div>-->
                </div>

                
            </section>
            
            <section class="col-sm-8">
     
                <!--    Show photos    -->
                <div th:each="photo : ${photos}">
                    <div class="container-fluid white-area p-3 mb-3">
                        <div class="row">
                            <div class="col-sm-4">
                                <img th:src="@{/photos/{photoId} (photoId=${photo.id})}" class="gallery-photo">
                                <p class="lead" th:text="${photo.description}">description</p>
                            </div>
                            
                            <div class="col-sm-8">
                                
                                
                                <div th:each="comment : ${photo.comments}" class="media mt-3">
                                    <div th:switch="${comment.user.profilePhoto}">
                                        <img th:case="null" class="message-profile-photo mr-3" th:src="@{/img/defaultProfilePicture.png}"/>
                                        <img th:case="*" class="message-profile-photo mr-3" th:src="@{/photos/{photoId} (photoId=${comment.user.profilePhoto.id})}"/>
                                    </div>
                                    <div class="media-body">
                                        <h5 th:text="${comment.user.username}"></h5>
                                        <p th:text="${comment.text}">comment text</p>
                                    </div>
                                </div>
                              
                                <form th:action="@{/{username}/{photoId}/{loggedInUser}/comment-photo (username=${user.username}, photoId=${photo.Id}, loggedInUser=${loggedInUser.username})}" method="POST">
                                    <input type="text" class="form-control" name="text" placeholder="add a comment"/>
                                    <input class="btn btn-primary mt-2" type="submit" value="send" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
<!--                <div th:each="photo : ${photos}">
                    <img width="30%" th:src="@{/photos/{photoId} (photoId=${photo.id})}"/>
                    <p th:text="${photo.description}">description</p>
                    <form th:if="${user.username == loggedInUser}" th:action="@{/{loggedInUser}/{photoId}/change-profile-photo (loggedInUser=${loggedInUser},photoId=${photo.id})}" method="POST">
                        <input class="btn btn-primary btn-sm m-3" type="submit" value="to profile photo">
                    </form>

                </div>-->

                <!--    Add new photos    -->
                <div th:if="${user.username == loggedInUser.username}">
                    <h3>Add a new photo!</h3>
                    <form th:action="@{/{userId}/add-photo (userId=${user.id})}" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" />
                        <input type="text" name="description" placeholder="add description"/>
                        <input type="submit" value="Add" />            
                    </form>

                </div>
                
                
            </section>
        
        </section>
        
        
        
        

       


    </body>
</html>
