<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
    </head>
    <body class="container-fluid px-5 py-0">
        
        <!---------    Navbar    ---------->
        <div th:replace="fragments/navbar :: navbar (loggedInUser=${loggedInUser})"></div>
        
        <!---------    Header    ---------->
        <div th:replace="fragments/header :: header(${user}, ${loggedInUser})"></div>  
 
        <section class="row py-4">
            <section class="col-md-4">
                
                <!---------    Following    ---------->
                <div th:replace="fragments/follow:: following(${whoIFollow})"></div>
                
                <!---------    Followers    ---------->
                <div th:replace="fragments/follow:: followers(${whoFollowsMe})"></div>
                
            </section>
            
            <section class="col-md-8">
     
                <!-----------   Show photos  ------------>
                <div th:each="interactable : ${photos}">
                    <div class="container-fluid white-area p-3 mb-3">
                        <div class="row">
                            <div class="col-sm-4">
                                <img th:src="@{/photos/{photoId} (photoId=${interactable.id})}" class="gallery-photo">
                                    
                                <!-----------   Change profilephoto  ------------>
                                <form th:if="${user == loggedInUser}" th:action="@{/{loggedInUser}/{photoId}/change-profile-photo (loggedInUser=${loggedInUser},photoId=${interactable.id})}" method="POST">
                                    <input class="btn btn-primary btn-sm m-3" type="submit" value=" Add to profile photo">
                                </form>
                                
                                <p class="lead" th:text="${interactable.description}">description</p>
                                
                                <!-----------   Like / Don't like  ------------>
                                <div th:replace="fragments/interactable :: like(${interactable.likes})"></div>
                            </div>
                            
                            <div class="col-sm-8">
                                
                                <!-----------   Show comments  ------------>
                                <div th:replace="fragments/interactable :: show-comments(${interactable})"></div>
                              
                                <!-----------   Add comment  ------------>
                                <div th:replace="fragments/interactable :: add-comment(${user}, ${loggedInUser}, ${interactable})"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-----------   Add new photos  ------------>
                <div th:if="${user.username == loggedInUser.username}">
                    <h3>Add a new photo!</h3>
                    <form th:action="@{/{userId}/add-photo (userId=${user.id})}" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" />
                        <input type="text" name="description" placeholder="add description"/>
                        <input type="submit" value="Add" />            
                    </form>
                </div>
                
            </section>
        </section>
        
    </body>
</html>
