<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="container">
        <h5 th:text="'Logged in as ' + ${loggedInUser}"></h5>
        
        <h1 th:text="${user.name}">name</h1>
        
        <form th:action="@{/{userId}/{loggedInUser}/follow-me (userId=${user.id}, loggedInUser=${loggedInUser})}" method="POST">
                <input type="submit" value="Follow Me!">
        </form>
        
        <h2>The users you follow</h2>
        
        
        

        <h2>Tweets</h2>
        
        <!--    Add new tweets    -->
        <div th:if="${user.username == loggedInUser}" class="add-tweet">
   
            <h3>Add a new tweet!</h3>
            <form th:action="@{/{username}/add-message (username=${user.username})}" method="POST">
                <input type="textarea" name="text" />
                <input type="submit" value="Add"/>
            </form>
            <h3>Most recent tweets</h3>
        </div>

        <!--    Show tweets    -->
        <div th:each="message : ${messages}">
            <p th:text="${message.text}">text</p>
            <p>likes <span th:text="${#lists.size(message.likes)}">likes count</span></p>
            <form th:action="@{/{userId}/{messageId}/like-message (userId=${user.id},messageId=${message.id})}" method="POST">
                <input type="submit" value="Like">
            </form>
            <form>
                <input type="text" name="comment" placeholder="add a comment"/>
                <input type="submit" value="send" />
            </form>
            <br>
        </div>
        
        
        <h2>Photos</h2>
        
        <!--    Add new photos    -->
        <div th:if="${user.username == loggedInUser}">
            <h3>Add a new photo!</h3>
            <form th:action="@{/{userId}/add-photo (userId=${user.id})}" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" />
                <input type="text" name="description" placeholder="add description"/>
                <input type="submit" value="Add" />            
            </form>
            <h3>My Photos</h3>
        </div>
        
        <!--    Show photos    -->
        <div th:each="photo : ${photos}">
            <img width="30%" th:src="@{/photos/{photoId} (photoId=${photo.id})}"/>
            <p th:text="${photo.description}">description</p>
        </div>
        
        

       


    </body>
</html>
